name: CI

on:

  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-test:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        mlcomp: [mlkit]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup environment
        run: |
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "RUNHOME=$(echo $HOME)" >> $GITHUB_ENV

      - name: Install smlpkg
        uses: diku-dk/install-smlpkg@HEAD

      - name: Install MLKit
        if: ${{ matrix.mlcomp == 'mlkit' }}
        uses: diku-dk/install-mlkit@HEAD

      - name: Install OpenSSL (macos)
        if: ${{ env.OS == 'darwin' }}
        run: |
          arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          arch -x86_64 /usr/local/bin/brew install openssl

      - name: Build
        run: |
          which gcc
          MLCOMP=${{ matrix.mlcomp }} MLKIT_INCLUDEDIR=$RUNHOME/.local/share/mlkit/include make clean all

      - name: Run tests
        run: |
          MLCOMP=${{ matrix.mlcomp }} make test
